@import url('font.css');
@import url('scroll.css');

* {
    box-sizing: border-box;
}

html, body {
    font-family: "montserrat-regular", "微軟正黑體", sans-serif;
    height: 100vh;
    height: -webkit-fill-available;
    width: 100vw;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 2em;
    margin: 1.25rem 0;
}

p {
    font-size: 1.25rem;
    margin: 0.5rem 0;
}

#banner {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100vw;
    z-index: 0;
    object-fit: cover;
    transition: all ease 2s;
}

#intro {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    top: 0;
    height: 5.5in;
    padding: 40px;
    background-color: #00000080;
    border-radius: 40px;
    transition: all ease 2s;
}

    #intro > * {
        text-align: center;
        color: #dddddd;
    }

    #intro #sub-title {
        font-size: 1.25rem;
        margin-bottom: 0.75rem;
    }


    #intro #desc p {
        margin: 0.5rem 0;
    }


.avator {
    height: auto;
    width: 5vw;
    border-radius: 50%;
    min-width: 150px;
}

#community {
    position: absolute;
    display: flex;
    align-items: center;
    height: 50px;
    bottom: 40px;
    margin: 0;
}

    #community a {
        display: inline-block;
        width: 35px;
        margin: 0 1rem;
        opacity: 85%;
        filter: invert(100%);
    }

        #community a img {
            height: auto;
            width: 100%;
        }

#content {
    position: fixed;
    display: flex;
    flex-direction: column;
    bottom: 0;
    height: 100%;
    width: 100vw;
    color: #000000;
    z-index: 0;
    object-fit: cover;
    transition: all ease 2s;
    overflow: scroll;
}

    #content > * {
        display: block;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 100%;
        opacity: inherit;
    }

    #content #innerBody > ::after {
        content: "";
        display: block;
        width: 240px;
        height: 1px;
        background-color: rgba(0, 0, 0, 0.1);
        margin: 50px auto 20px auto;
    }

    #content h1, h2, h3, h4 {
        color: #862121;
        font-weight: 700;
    }

    #content p, a, span {
        color: #000000;
    }

.content-head {
    padding-bottom: 0.5rem;
}

    .content-head p {
        margin-bottom: 1rem;
    }

    .content-head::after {
        content: "";
        display: block;
        width: 240px;
        height: 1px;
        background-color: rgba(0, 0, 0, 0.1);
        margin: 50px auto 20px auto;
    }

.progress {
    border-radius: 0.25rem;
}

.progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #862121;
    transition: width .6s ease;
    border-radius: inherit;
}

.skill p {
    margin: 0.75rem 0 0 0;
}

#award .award-list {
    display: flex;
    text-align: left;
    justify-content: center !important;
}

    #award .award-list ul {
        width: 50%;
    }

        #award .award-list ul li {
            font-size: 1rem;
            margin-bottom: 0.5rem;
        }

            #award .award-list ul li::marker {
                color: #862121;
            }

#content footer {
    background-color: #212529;
}

    #content footer .footer-content {
        height: 100%;
        width: 100%;
    }

        #content footer .footer-content a {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 0.75rem;
            max-width: max-content;
        }

        #content footer .footer-content p, a, span {
            text-align: center !important;
            color: #FFFFFF !important;
            text-decoration: none;
        }

        #content footer .footer-content .footer-logo {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 3rem;
        }

            #content footer .footer-content .footer-logo .footer-site-logo {
                font-size: 2rem;
            }

        #content footer .footer-content .footer-contact {
            font-size: 1.25rem;
            padding-top: 1.5rem;
            padding-bottom: 3rem;
        }

            #content footer .footer-content .footer-contact .footer-contact-community, .footer-contact-mail {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0.75rem 0;
            }

            #content footer .footer-content .footer-contact img {
                height: 1.5rem;
                width: 1.5rem;
                filter: invert(95%) sepia(0%) saturate(0%) hue-rotate(182deg) brightness(105%) contrast(105%);
            }
